<h3 class="profile-name"><%= @user.name %></h3>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", class: "rounded-circle" %>
<p><%= link_to "フォロー#{@user.followings.count}", user_followings_path(@user), class: "info" %></p>
<p><%= link_to "フォロワー#{@user.followers.count}", user_followers_path(@user), class: "info" %></p>
<% if @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "info fas fa-user-edit" %></p>
<% else %>
  <% if current_user.following?(@user) %>
    <p><%= link_to "フォロー中", user_relationships_path(@user.id), method: :delete, class: "info fas fa-check" %></p>
  <% else %>
    <p><%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "info" %></p>
  <% end %>
<% end %>
<p><%= link_to "お気に入り一覧", favorites_user_path(@user.id), class: "info fas fa-bookmark" %></p>

<p><%= button_to '新規投稿', {controller: "posts", action: "new"}, { method: :get, class: "btn btn-outline-secondary" } %></p>