<div class="container">
  <div class="row">
    <div class="col-10 mx-2 mx-sm-auto mt-3">
      <h1 class="mx-auto w-75">プロフィール編集</h1>
      <div class="card mx-auto p-3 w-75 text-center">
        <%= form_with model:@user, local:true do |f| %>
          <div class="form-group mt-4">
            <%= f.label :アイコン %><br />
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><br />
            <%= f.attachment_field :profile_image, required: true, class: "w-75" %>
          </div>
          <div class="form-group">
            <%= f.label:ニックネーム %><br />
            <%= f.text_field :name, id:"inputName", required: true, class: "w-75" %>
          </div>
          <div class="form-group text-center">
            <%= f.submit "変更を保存", class: "btn btn-outline-secondary btn-lg w-50 rounded-pill" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
