<div class="row">
    <div class="col-2 d-flex justify-content-center left-column">
      <div class="sticky-top sticky-side">
        <%= render"users/info", users: @users %>
      </div>
    </div>
    <div class="col-8">
      お気に入り一覧
      <% @posts.each do |post| %>
        <div class="card w-100 mx-auto mt-4 shadow-lg">
          <%= render "card_content", post: post %>
          <div class="row">
            <%= render "card_action", post: post %>
          </div>
        </div>
        <%= paginate @posts %>
      <% end %>
    </div>

    <div class="col-2 right-column">
      <%= render"posts/prefectures", posts: @posts %>
    </div>
  </div>
<%= render "posts/evaluation", posts: @posts %>