<% if post.user == current_user %>
  <div class="col-3 d-flex justify-content-center pr-0">
    <%= link_to post_path(post.id), class: "btn btn-outline-secondary w-100" do %>
      <div class="far fa-comments"><%= post.comments.count %></div>
      <div>コメント</div>
    <% end %>
  </div>
  <div class="col-3 d-flex justify-content-center p-0">
    <%= render 'favorites/favorite-btn', post: post %>
  </div>
  <div class="col-3 d-flex justify-content-center p-0">
    <%= link_to edit_post_path(post), class: "btn btn-outline-secondary w-100" do %>
      <div class="far fa-edit"></div>
      <div>編集</div>
    <% end %>
  </div>
  <div class="col-3 d-flex justify-content-center pl-0">
    <%= link_to post_path(post), class: "btn btn-outline-secondary w-100", method: :delete do %>
      <div class="far fa-trash-alt"></div>
      <div>削除</div>
    <% end %>
  </div>
<% else %>
  <div class="col-6 d-flex justify-content-center pr-0">
    <%= link_to post_path(post.id), class: "btn btn-outline-secondary w-100" do %>
      <div class="far fa-comments"><%= post.comments.count %></div>
      <div>コメント</div>
    <% end %>
  </div>
  <div class="col-6 d-flex justify-content-center pl-0">
     <%= render 'favorites/favorite-btn', post: post %>
  </div>
<% end %>