<%= link_to post_path(post.id), class: "content w-100" do %>
  <object>
    <%= link_to user_path(post.user.id), class: "btn btn-light text-secondary w-100" do  %>
      <div>
        <%= attachment_image_tag post.user, :profile_image, size: "50x50", format: 'jpeg', fallback: "no_image.jpg", class: "mt-1 ml-3 mr-3 rounded-circle" %>
        <%= post.user.name %>
      </div>
    <% end %>
  </object>
  <div class="row">
    <div class="col-6">
      <%= attachment_image_tag post, :image, :fill, 300, 200, format: 'jpeg', fallback: "no_image.jpg", class: "w-100 ml-1" %>
    </div>
    <div class="col-6 text-left px-0">
      <div class="card-body">
        <h2 class="card-title">
          <%= post.place%>
        </h2>
        <p><%= post.description %></p>
        <table border=0>
        <tr>
          <td>
            <p class="post-evaluation" data-score="<%= post.comments.average(:evaluation) %>"></p></td><td style="padding-left:10px;">
            <p><%= post.comments.average(:evaluation) %>/5</p>
          </td>
        </tr>
        </table>
        <p>旅行日：<%= post.date %></p>
      </div>
    </div>
  </div>
<% end %>
