<div class="container">
  <div class="row">
    <div class="col-10 mx-2 mx-sm-auto mt-3">
      <h1 class="mx-auto w-75">新規投稿</h1>
      <div class="card mx-auto w-75 text-center">
        <%= form_with model:@post, url: posts_path, local:true do |f| %>
          <div class="form-group mt-4">
            <%= f.label :画像, class: "mb-0" %><br />
            <%= f.attachment_field :image %>
          </div>
          <div class="form-group">
            <%= f.label :スポット名, class: "mb-0" %><br />
            <%= f.text_field :place, class: "w-75" %>
          </div>
          <div class="form-group">
            <%= f.label :紹介文, class: "mb-0" %><br />
            <%= f.text_area :description, class: "w-75" %>
          </div>
          <div class="form-group">
            <%= f.label :旅行日と都道府県, class: "mb-0" %><br />
            <%= f.date_field :date, class: "w-25" %>
            <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, include_blank: "都道府県を選択") %>
          </div>
          <div class="form-group">
            <%= f.submit '投稿', class: "btn btn-outline-secondary btn-lg w-50 rounded-pill" %>
          </div>
        <% end %>
      </div>
  </div>
</div>
