<div class="row">
  <div class="col-2 d-flex justify-content-center left-column">
    <div class="sticky-top sticky-side">
      <%= render"users/info", users:@users %>
    </div>
  </div>
  <div class="main-column col-8">
    <div class="card w-100 mx-auto my-2">
      <%= link_to post_path(@post.id), class: "content w-100" do %>
        <object>
          <%= link_to user_path(@post.user.id), class: "btn btn-light text-secondary w-100" do  %>
            <div>
              <%= attachment_image_tag @post.user, :profile_image, size: "50x50", format: 'jpeg', fallback: "no_image.jpg", class: "mt-1 ml-3 mr-3 rounded-circle" %>
              <%= @post.user.name %>
            </div>
          <% end %>
        </object>
        <div class="row">
          <div class="col-3 ">
            <%= attachment_image_tag @post, :image, :fill, 300, 200, format: 'jpeg', fallback: "no_image.jpg", class: "post-image ml-1 mt-4" %>
          </div>
          <div class="col-5 text-left px-0">
            <div class="card-body">
              <h2 class="card-title">
                <%= @post.place%>
              </h2>
              <p><%= @post.description %></p>
              <table border=0>
              <tr>
                <td>
                  <p class="post-evaluation" data-score="<%= @post.comments.average(:evaluation) %>"></p></td><td style="padding-left:10px;">
                  <p><%= @post.comments.average(:evaluation) %>/5</p>
                </td>
              </tr>
              </table>
              <p>旅行日：<%= @post.date %></p>
            </div>
          </div>
          <div>
            <div id="map"></div>
            <style>
              #map{
                height: 200px;
                width: 350px;
                margin-top: 30px;
              }
            </style>
          </div>
        </div>
      <% end %>
      <div class="row">
        <%= render "card_action", post: @post %>
      </div>
    </div>
    <%= render "comment", post: @post %>
  </div>
  <div class="col-2 right-column">
    <%= render"posts/prefectures", posts: @posts %>
  </div>
</div>

<%= javascript_include_tag 'posts' %>

<script type="text/javascript">

  function initMap() {
    var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: test
    });

    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = 'スポット名：<%= @post.place %>';
    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });

    var marker = new google.maps.Marker({
        position:test,
        map: map,
        title: contentString
    });

    marker.addListener('click', function() {
         infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>

