<!DOCTYPE html>
<html>
  <head>
    <title>Travel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="footer-fixed">
      <%= render 'layouts/header' %>
      <main>
        <div id="notice", class="flash bg-secondary text-white"><%= notice %></div>
        <div id="alert", class="flash bg-secondary text-white"><%= alert %></div>
        <%= yield %>
      </main>
      <%= render 'layouts/footer' %>
    </div>
    <%= hidden_field_tag nil, asset_path('star-on.png'), id: 'star-on-image-tag' %>
    <%= hidden_field_tag nil, asset_path('star-off.png'), id: 'star-off-image-tag' %>
    <%= hidden_field_tag nil, asset_path('star-half.png'), id: 'star-half-image-tag' %>
  </body>
</html>
